@import '../../../stylesheets/theme';
@import '../../../stylesheets/utility/functions';

$open-speed: 300ms;
$close-speed: 300ms;

.btnFix {
  transform: translateZ( 0 )
}

.body {
  display: flex;
  width: 100%;
  overflow: hidden;
  height: 100vh;
  position: relative;
}

.close {
  animation: Close $close-speed ease both !important;
}

.corner {
  $border: 1px solid #fff;

  height: 10vh;
  width: 10vh;
  position: absolute;

  &__ne,
  &__nw {
    border-top: $border;
    top: 4px;
  }

  &__ne,
  &__se {
    border-left: $border;
    left: 4px;
  }

  &__nw,
  &__sw {
    border-right: $border;
    right: 4px;
  }

  &__se,
  &__sw {
    border-bottom: $border;
    bottom: 4px;
  }
}

.help {
  position: absolute;
  bottom: 1rem;
  display: none; // flex
  flex-flow: column nowrap;
  font-size: 0.6125rem;
  width: 100%;

  &_text {
    margin-bottom: 0.75rem;
  }

  &_controls {
    color: shade( $font-color, 50% );
    margin: 0 auto;
    text-align: left;

    &_label {
      color: shade( $font-color, 15% );
      font-weight: bold;
    }
  }
}

.message {
  animation: Open $open-speed ease both;
  font-size: 0.8125rem;
  padding: 1rem;
  max-width: 28rem;
  margin: auto;
}


@keyframes Open {
  0% { transform: scale3D( 0, 0, 1 );}
  100% { transform: scale3D( 1, 1, 1 );}
}

@keyframes Close {
  0% { transform: scale3D( 1, 1, 1 )}
  100% { transform: scale3D( 0, 0, 1 )}
}

// Only show help if we have enough vertical space
@media only screen and (min-height: 24rem ) {
  .help { display: flex }
}

//noinspection ALL
:export {
  openSpeed: $open-speed / 1ms;
  closeSpeed: $close-speed / 1ms;
}