.body {
  align-items: center;
  display: flex;
  font-size: 1rem;
  font-weight: bold;
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.icon {
  color: #fff;
  font-size: 0.66rem;
  font-weight: bold;
  font-family: "Arial", sans-serif;
}